[Unit]
Description=HTTP server for Mason
After=network.target

[Service]
User=root
ExecStart=/usr/sbin/lighttpd -f /etc/lighttpd.conf

[Install]
WantedBy=multi-user.target
