[Unit]
Description=Zuul: CI orchestration and Gatekeeper
After=mason-setup.service

[Service]
User=root
ExecStart=/usr/bin/zuul-server -d -c /etc/zuul.conf -l /etc/zuul-layout.yaml

[Install]
WantedBy=multi-user.target
